body{
    background-color: #3c8dbc;
}

.cuadro{
    background-color: #FFFFFF;
    max-width: 450px;
    margin: 10% auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #000;
}

h3{
    padding-top: 25px;
    margin-bottom: 30px;
    font-size: 18px;
}

.subrayado{
    border-bottom: 5px solid #3c8dbc;
    padding-bottom: 5px;
}

.margen{
    margin-left: 50px;
    margin-right: 50px;
}

.boton{
    background-color: #3c8dbc;
    border-color: #3c8dbc;
    margin-left: 3%;
}

.boton:hover{
    background-color: #144b6b;
    border-color: #144b6b;
}