div{
    border: black 2px solid;
}

.cajaA{
    background-color: #FFF200;
}

.cajaB{
    background-color: #C49A6B;
}

.cajaC{
    background-color: #58CBEF;
}

.cajaD{
    background-color: #7CC56C;
}

.cajaE{
    background-color: #F6916B;
}

.cajaF{
    background-color: #CD9CC7;
}

.cajaG{
    background-color: #5AC09B;
}

.cajaH{
    background-color: #93A8D7;
}

.cajaI{
    background-color: #88C540;
}

.cajaJ{
    background-color: #D3E27C;
}