<!DOCTYPE html>
<html lang="es">
    <head th:replace="layouts/fragmento :: cabecera"></head>
    <body class="sb-nav-fixed">
        <header th:replace="layouts/fragmento :: barraSuperior"></header>
        <div id="layoutSidenav">
            <div  th:replace="layouts/fragmento :: menu">
                
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Página de producto</h1>
                        
                    </div>
                </main>
                <footer th:replace="layouts/fragmento :: footer">
                    
                </footer>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    </body>
</html>
